.about{
  background-color: #353535;
  width: 100%;
  height: 350px;
  color: #fff;
}

.imgWrapper img{
      width: 80%;
      height: 80%;
      margin-top: 70px;
      object-fit: cover;
      border-radius: 0.5rem;
}

.Pbtn h1{
    position: relative;
    z-index: 1;
    bottom: 250px;
    color: #fff;
}

.Pbtn img{
  filter: brightness(50%);
  background-position: center;
  background-size: cover;
  width: 30%;
  height: auto; 
  margin-top: 50px;
}

.Pbtn button{
    position: relative;
    z-index: 1;
    bottom: 250px;
    border: none;
}

.Pbtn button:hover{
  color: #fff;
}

h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
}

p{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  width: 60%;
  margin: 0 auto;
}

  @media screen and (max-width: 700px) {
    p{
      width: 100%;
    }
  }


