.container-style{
  height: 100%;
  position: relative;
}

.description{
  position: absolute;
  z-index: 1;
  color: aliceblue;
  top: 20%;
  left: 35%;
}

.header{
 margin-bottom: 40%;

}

.programs{
  background-color: #212121;
  color: #ffffff;
  margin-top: 50px;
  padding: 100px;
  margin-bottom: 20px;
}

.content{
  padding: 70px;
}

.right {
  background-color: #353535;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 10px;

}

.right .long-text {
   max-height: 0;
   overflow: hidden;
   display: inline-block;
 }

 .right .expanded{
  max-height: 100rem;
 }

.right p{
  font-size: 22px;
  font-weight: bold;
  font-family: cursive;
}

.THH{
  padding: 0;
}

.THH .long-text{
  max-height: 0;
  overflow: hidden;
  display: inline-block;
}

.THH .expanded{
  max-height: 100rem;
}


.left{
  background-color: #353535;
  padding: 50px;
  border-radius: 10px;
}

.left p{
  font-size: 22px;
  font-weight: bold;
  font-family: cursive;
}

.left .long-text {
  max-height: 0;
  overflow: hidden;
  display: inline-block;
}

.left .expanded {
  max-height: 100rem;
}

button{
  padding: 10px;
  border-radius: 5px;
  background-color: #fec006;
  color: #212121;
  cursor: pointer;
}

    @media screen and (max-width: 1500px) {
      .description{
        left: 20%;
        margin-top: 200px;
      }
    }
 

    @media screen and (max-width: 800px) {
      .content {
        display: block;
      }
      .programs{
        padding: 10px;
      }
      .programs h1{
        font-size: 20px;
      }
      .right p{
        padding: 0;
        font-size: 15px;
      }
      .right{
        padding: 5px;
      }
        .left p {
          padding: 0;
          font-size: 15px;
        }
        .left{
          padding: 5px;
        }
     }

        @media screen and (max-width: 700px) {
            .description {
                left: 5%;
          }
        }