.footer{
  background-color: #212121;
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
}

.number{
  visibility: hidden;
}



.navigate p{
  padding: 10px;
  font-size: 17px;
}

 @media screen and (max-width: 1200px) {
  .footer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 30px;
  }

  .navigate h1{
    margin-left: 19px;
  }
  
} 

@media screen and (max-width: 400px) {
  .contact-info{
    width: 10px;
  }

}

