.footer{
  background-color: #212121;
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
}

.number{
  visibility: hidden;
}



.navigate p{
  padding: 10px;
  font-size: 15px;
}

 @media screen and (max-width: 1200px) {
  .footer{
    position: relative;
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 30px;
  }
  
} 

@media screen and (max-width: 400px) {
  .contact-info{
    width: 10px;
  }

}

/* @media screen and (max-width: 1100px) {
  .footer {
    display: block;
  }

  .navigate {
    margin-left: 35%;
    margin-top: 30px;
  }

  .contact-info {
    margin-left: 25%;
    margin-top: 30px;
  }

}

@media screen and (max-width: 900px) {
  .footer {
    display: block;
  }

  .navigate {
    margin-left: 32%;
    margin-top: 30px;
  }

  .contact-info {
    margin-left: 22%;
    margin-top: 30px;
  }

}

@media screen and (max-width: 800px) {
  .footer {
    display: block;
  }

  .contact{
    margin-bottom: 40px;
    padding: 50px;
  }

   .contact-info{
   display: none;
  } 


  .navigate {
    margin-left: 23%;
    margin-top: 30px;
  }

  .contact-info {
    margin-left: 10%;
    margin-top: 30px;
   
  }

  .number{
    visibility: visible;
    color: #fff;
  }

  .number h1{
    margin-top: 30px;
    font-size: 25px;
  }
} */

